.App {
  text-align: center;
}

.img-card {
  display: flex;
  flex-wrap: wrap;
  transition: transform 0.3s;
  margin-top: 5px;
}

.img-card:hover { 
  transform: scale(0.97);
  opacity: .7;
  cursor: pointer;
}